In [1]:
import pandas as pd

In [58]:
xg_data = pd.read_csv('A-League 2021-22 xG table.csv', delimiter = ';')
xg_data

,Team,xG for,xG against,xG difference,Goals,Goals conceded
0,Newcastle Jets,1.81,1.21,0.60,4,0
1,Wellington Phoenix,1.21,1.81,-0.60,0,4
2,Adelaide United,1.45,1.71,-0.26,1,2
3,Western Sydney Wanderers,1.71,1.45,0.26,2,1
4,Perth Glory,2.62,0.24,2.38,0,0
...,...,...,...,...,...,...
185,Melbourne Victory,0.55,1.38,-0.83,1,0
186,Perth Glory,1.18,1.60,-0.42,1,1
187,Adelaide United,1.60,1.18,0.42,1,1
188,Melbourne City,2.59,2.02,0.57,2,1
189,Brisbane Roar,2.02,2.59,-0.57,1,2

In [57]:
xg_table = pd.DataFrame()
teams = ['Adelaide United', 'Brisbane Roar', 'Central Coast Mariners', 'Macarthur', 'Melbourne City', 'Melbourne Victory',
         'Newcastle Jets', 'Perth Glory', 'Sydney', 'Wellington Phoenix', 'Western Sydney Wanderers', 'Western United']
team_info = {
    'Team name': '',
    'Matches played': 0,
    'Win': 0,
    'Draw': 0,
    'Lose': 0,
    'xG': 0,
    'Goals scored': 0,
    'xGA': 0,
    'Goals conceded': 0,
    'xPoints': 0,
    'Actual points': 0
}

for team in teams:
    
    matches_played = 0
    win = 0
    draw = 0
    lose = 0
    xG = 0
    xGA = 0
    goals_scored = 0
    goals_conceded = 0
    xPoints = 0
    total_points = 0
    
    for i in range(len(xg_data)):
        
        if (xg_data['Team'][i] == team):
            
            matches_played = matches_played + 1
            xG = xG + float(xg_data['xG for'][i])
            xGA = xGA + float(xg_data['xG against'][i])
            goals_scored = goals_scored + int(xg_data['Goals'][i])
            goals_conceded = goals_conceded + int(xg_data['Goals conceded'][i])
            
            if (xg_data['Goals'][i] > xg_data['Goals conceded'][i]):
                total_points = total_points + 3
                win = win + 1
            elif (xg_data['Goals'][i] == xg_data['Goals conceded'][i]):
                total_points = total_points + 1
                draw = draw + 1
            else:
                lose = lose + 1
                
            if (xg_data['xG difference'][i] >= 1.5):
                xPoints = xPoints + 2.7
            elif (1 <= xg_data['xG difference'][i]) and (xg_data['xG difference'][i] < 1.5):
                xPoints = xPoints + 2.3
            elif (0.5 <= xg_data['xG difference'][i]) and (xg_data['xG difference'][i] < 1):
                xPoints = xPoints + 2
            elif (0 <= xg_data['xG difference'][i]) and (xg_data['xG difference'][i] < 0.5):
                xPoints = xPoints + 1.5
            elif (-0.5 <= xg_data['xG difference'][i]) and (xg_data['xG difference'][i] < 0):
                xPoints = xPoints + 0.7
            elif (-1 <= xg_data['xG difference'][i]) and (xg_data['xG difference'][i] < -0.5):
                xPoints = xPoints + 0.5
            elif (-1.5 <= xg_data['xG difference'][i]) and (xg_data['xG difference'][i] < -1):
                xPoints = xPoints + 0.3
            else:
                xPoints = xPoints + 0.1
                
    team_info['Team name'] = team
    team_info['Matches played'] = matches_played
    team_info['Win'] = win
    team_info['Draw'] = draw
    team_info['Lose'] = lose
    team_info['xG'] = xG
    team_info['Goals scored'] = goals_scored
    team_info['xGA'] = xGA
    team_info['Goals conceded'] = goals_conceded
    team_info['xPoints'] = xPoints
    team_info['Actual points'] = total_points
    
    xg_table = xg_table.append(team_info, ignore_index = True)
    
xg_table = xg_table.sort_values('Actual points', ascending = False).reset_index()
xg_table = xg_table.drop('index', axis = 1)
xg_table.index = xg_table.index + 1

xg_table = xg_table.sort_values('xPoints', ascending = False).reset_index()
xg_table.rename({'index': 'Actual position'}, inplace = True, axis = 1)
xg_table.index = xg_table.index + 1
xg_table

,Actual position,Team name,Matches played,Win,Draw,Lose,xG,Goals scored,xGA,Goals conceded,xPoints,Actual points
1,1,Melbourne City,18.0,9.0,6.0,3.0,35.32,38.0,23.00,26.0,32.6,33.0
2,6,Sydney,17.0,5.0,6.0,6.0,31.01,21.0,23.16,21.0,26.3,21.0
3,3,Adelaide United,18.0,7.0,6.0,5.0,32.23,28.0,29.19,24.0,22.8,27.0
4,9,Western Sydney Wanderers,16.0,5.0,3.0,8.0,24.82,18.0,23.47,24.0,22.1,18.0
5,8,Newcastle Jets,16.0,5.0,3.0,8.0,27.30,28.0,26.55,28.0,21.4,18.0
6,2,Western United,16.0,10.0,3.0,3.0,23.09,21.0,22.00,14.0,19.0,33.0
7,5,Melbourne Victory,14.0,6.0,4.0,4.0,20.01,20.0,17.71,17.0,19.0,22.0
8,7,Wellington Phoenix,15.0,6.0,3.0,6.0,22.05,19.0,26.74,26.0,18.3,21.0
9,11,Brisbane Roar,14.0,4.0,2.0,8.0,22.11,14.0,21.79,21.0,16.5,14.0
10,12,Perth Glory,15.0,3.0,4.0,8.0,17.30,12.0,22.63,16.0,14.2,13.0
11,4,Macarthur,16.0,7.0,4.0,5.0,22.84,26.0,28.88,26.0,13.8,25.0
12,10,Central Coast Mariners,15.0,4.0,4.0,7.0,18.85,20.0,31.81,22.0,10.9,16.0